/* TODO AFTER HTML add style elements to match wire frame #9fa7b3 #7b7887 #fffbce #94cce7 #66767e #a4bcc8*/
:root {
    --storm: #9fa7b3;
    --thunder: #7b7887;
    --lightning: #fffbce;
    --clear: #94cce7;
    --wave: #323c4b;
    --cloud: #a4bcc8;
}

body {
    color:var(--wave);
    background-color: var(--clear);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* header */
header {
    height: 120px;
    background-color: var(--wave);

}

h1 {
    padding-top: 20px;
    padding-left: 20px;
    font-size: 70px;
    color: var(--clear)
}

/* header end */

/* main */
/* section- searchArea */
.searchArea {
    /* width:100vw; */
    padding-top: 20px;
    padding-bottom: 20px;
    /* float: left; */
    display: block;
}

#search {

    height: 40px;
    font-size: 20px;
    margin-left: 20px;
    background-color: var(--storm);
    border: 3px solid var(--wave);

}

#search:focus {
    background-color: var(--lightning);
}

#searchBtn {
    height: 40px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: var(--lightning);
    border: 2px solid var(--wave);
    font-size: 20px;

}

#searchBtn:hover {
    background-color: var(--storm);
}

#searchBtn:focus {
    background-color: var(--clear);
}

/* aside prevBtns */

.prevBtnAside {
    float:right;
    background-color: var(--thunder);
    max-width: 20%;
    min-height:50vh;
    justify-content: right;
    border:5px solid var(--wave) 
}
.prevBtnHead{
   font-size: 35px;
   padding:10px;
   color:var(--clear);
   border-bottom:5px solid var(--lightning);

}
.prevBtns{
    min-width:100%;
    padding-top: 10px;

}
.prevCity{
    color:var();
    min-width:100%;
    height:50px;
    font-size:30px;
    background-color: var(--clear);
    border: 5px solid var(--thunder)

}
.prevCity:hover{
    background-color: var(--cloud);
}
.prevCity:focus{
    background-color: var(--lightning);
}
#forecast {
    /* margin-top:10%; */
    min-height:30vh;
    /* padding: 20px; */
    border: 5px solid var(--thunder);
    background-color: var(--cloud);
    display: flex;
    flex-direction: column;
    flex: 2 1 300px;
}
#cityTitle{
    font-size: 30px;
    margin:20px
    /* display:block; */
}
.dailyweather {
    
    min-height:200px;
    margin:10px;
    border: 2px solid var(--wave);
    display: flex;
    flex: wrap;

}

.list-body {
   
    display: block;
    flex-direction: column;
    justify-content: right;
    

}

.night {
    width:50%;
    border:5px solid var(--lightning)
}
.date{
    display:block;
    width:100%;
    
    
    background-color: #323c4b;
    padding-bottom:5px;
    color:var(--lightning)
}

.day {
   width:50%;
 border:5px solid var(--wave)
}

h4 {
    font-size: 20px;
}

h3 {
padding-top:15px;
    padding-left: 10px;
    font-size: 25px;
}

p {
 display: inline;
    /* margin:10px; */
    font-size:20px;
    
}

